body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh;
  justify-items: center;
  align-items: center;
}

.container {
  background-color: rgb(17, 218, 51);
  width: 300px;
  height: 300px;
  display: grid;
  border-radius: 4px;
  border: 2px solid black;
}

#count {
  text-align: center;
  font-size: 3rem;
}